<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pillar</title>

    <style>
     .navbar a:hover {
         color: blue;
     }

        .increase {
            color: green;
            font-weight: bold;
        }

        .decrease{
            color: red;
            font-weight: bold;
        }

         .ivstbutton{
            position: relative;
            left: 63px;
        }
    </style>
    <script>
     window.smoothScroll = function(target) {
    var scrollContainer = target;
    do { //find scroll container
        scrollContainer = scrollContainer.parentNode;
        if (!scrollContainer) return;
        scrollContainer.scrollTop += 1;
    } while (scrollContainer.scrollTop == 0);

    var targetY = 0;
    do { //find the top of target relatively to the container
        if (target == scrollContainer) break;
        targetY += target.offsetTop;
    } while (target = target.offsetParent);

    scroll = function(c, a, b, i) {
        i++; if (i > 30) return;
        c.scrollTop = a + (b - a) / 30 * i;
        setTimeout(function(){ scroll(c, a, b, i); }, 20);
    }
    // start scrolling
    scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
}


    </script>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pillar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">View All Patients</a>
                </li>
            </ul>
        </div>
    </nav>


</div>
<br><br>
<div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
<div class="container">
    <br>
    <h3 class="text-center">{{info['name']}}'s Profile</span></h3>
    <br>

    <div class="row">
    <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card h-100" style="height: 200px">
        <div class="card-header text-center">Patient Summary</div>
      <div class="card-body">
          <p class="card-text text-center">Name: <b>{{info['name']}}</b> </p>
          <br>

          <p class="card-text text-center">Age: <b>{{info['age']}}</b> </p>
          <br>
          <p class="card-text text-center">Sex: <b>{{info['sex']}}</b></p>
          <br>
          <p class="card-text text-center">Weight: <b>{{info['sex']}}</b></p>
          <br>
          <p class="card-text text-center">Blood Type: <b>{{info['blood_type']}}</b></p>
          <br>
          <p class="card-text text-center">Current Symptoms: <b>{{info['curr_symptoms']}}</b></p>



    </div>

</div>

    </div>


</div>
<div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <br><br>
          <button type="button" onclick="smoothScroll(document.getElementById('medicalRecord'))" class="btn btn-outline-dark btn-lg ivstbutton">View Medical Records</button>

        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <br><br><br>
    <div id="medicalRecord">
        <h3 class="text-center">Summaries of Visits</h3>
        <br>
        <div class="list-group">
            {% for record in info['medicalRecord'] %}
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{record['date']}}</h5>
      <!--<small>3 days ago</small>-->
    </div>
    <p class="mb-1">{{record['data']}}</p>
  </a>
            <br>
            {% endfor %}
</div>

</div>

    <br><br>
    <div id="note">
        <h3 class="text-center">Send Note</h3>
        <form method="POST">
  <div class="form-group">
    <!--<label for="exampleFormControlTextarea1">Note</label>-->
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="note"></textarea>
  </div>
            <button type="submit">Submit</button>
</form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>